*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: bisque;
}

.container{
    min-height: 10vh;
    margin: 2em;
}
.writing_panel{
    justify-content: start;
    display: flex;
    gap: 1em;
    padding-top: 100px;
}
.chat_box{
    display: flex;
    flex-direction: column;
}
.person{
    display: flex;
    flex-direction: row;
    gap: 1em;
    margin-top: 2em;
}
.profile{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    border-radius: 50px;
    overflow: hidden;
    background: url(../img/anonymous2.png) no-repeat;
    background-size: cover;
    background-position: center top;
}
.messagebox{
    max-width: 500px;
    border: 1px solid black;
    border-radius: 0px 20px 20px 20px;
    padding: 15px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    background-color: white;
}
.messagebox p{
    font-size: 20px;
}

.write{
    padding-left: 20px;
    width: 75vw;
    height: 50px;
    border-radius: 50px;
}

.submit_button{
    content: "send";
    width: 100px;
    height: 50px;
    border-radius: 50px;
}