*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    min-height: 10vh;
    background: url(../img/background_login.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    overflow: hidden;
}

/* background box login */
.box_login{
    background-color: rgba(245, 245, 245, 0.5);
    position: absolute;
    width : 23%;
    height : 65%;
    margin-top: 8%;
    margin-left: 65%;
    border-radius: 50px;
    border: 2px solid;
    border-color: black;
}

/* picture time to warp */
.text_time{
    position: fixed;
    top: 15%;
    margin-left: 5%;
}

/* picture world */
.world{
    position: fixed;
    top: 53%;
    margin-left: 6%;
}

/* text login */
.box_login h1{
    font-size: 50px;
    font-weight: 100;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin-top: 22%;
}

/* box username */
.username input{
    width: 80%;
    height: 6%;
    border: 1px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    border-color: black;
    position: absolute;
    margin-top: 12%;
    margin-left: 8%;
    padding: 6px 20px;
}

/* picture human */
.username i{
    position: absolute;
    margin-top: 13.5%;
    margin-left: 80%;
    font-size: 25px;
}

/* box password */
.password input{
    width: 80%;
    height: 6%;
    border: 1px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    border-color: black;
    position: absolute;
    margin-top: 30%;
    margin-left: 8%;
    padding: 6px 20px;
}

/* picture lock */
.password i{
    position: absolute;
    margin-top: 31.3%;
    margin-left: 80%;
    font-size: 25px;
}

/* text remember me & check box */
.remember label{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
    color: #000000;
    text-decoration: none;
    position: absolute;
    margin-top: 40%;
    margin-left: 8%;
}

/* text forgot password */
.remember a{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
    color: black;
    text-decoration: none;
    position: absolute;
    margin-top: 40%;
    margin-left: 65%;
}

/*  คำ forgot */
.remember a:hover{
    text-decoration: underline;
}

/* button login */
.page_login button{
    width: 30%;
    height: 10%;
    background: black;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    position: absolute;
    margin-top: 60%;
    margin-left: 35%;
}

/* text Don't have */
.login p{
    text-align: center;
    margin-top: 78%;
    color: black;
    text-decoration: none;
    font-weight: Thin;
    font-family: Inter;
    font-weight: 100;
}

/* text register */
.login a{
    color: red;
    text-decoration: none;
    font-weight: 900;
    font-family: Inter;
}

/*  text register add line */
.login a:hover{
    text-decoration: underline;
}

/* ขึ้นแจ้งเตือน */
.alert {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    z-index: 1;
    padding: 1%;
    background-color: #f44336; /* สีแดง */
    color: white;
    margin: 2%;
    margin-top: 1.5%;
    width: 96%;
    position: fixed;

}

.closebtn {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5%;
    margin: 0.5%;
    cursor: pointer;
}

.closebtn:hover {
    background-color: hsl(0, 65%, 51%);
}
/* ขึ้นแจ้งเตือน */
.alerts {
  font-family: sans-serif;
  font-weight: bold;
  z-index: 1;
  padding: 1%;
  background-color: #32fc00;
  color: white;
  margin: 2%;
  margin-top: 1.5%;
  width: 96%;
  position: fixed;

}

.closebtns {
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5%;
  margin: 0.5%;
  cursor: pointer;
}

.closebtns:hover {
  background-color: #08f100;
}
.cloud1{
    position: absolute;
    width: 100vw;
    display: block;
    overflow: hidden;
    top: -10%;
}
.cloud2{
  position: absolute;
  width: 80%;
  display: block;
  overflow: hidden;
  top: 4%;
  left: 5%;
}
.cloud3{
  position: absolute;
  width: 80%;
  display: block;
  overflow: hidden;
  top: 15%;
}
.cloud4{
  position: absolute;
  width: 80%;
  display: block;
  overflow: hidden;
  top: 10%;
}
.cloud5{
  position: absolute;
  width: 80%;
  display: block;
  overflow: hidden;
  bottom: 30%;
}
.cloud6{
  position: absolute;
  width: 80%;
  display: block;
  overflow: hidden;
  bottom: 50%;
}
.cloud7{
  position: absolute;
  width: 80%;
  display: block;
  overflow: hidden;
  bottom: 40%;
}
.cloud8{
  position: absolute;
  width: 80%;
  display: block;
  overflow: hidden;
  bottom: 15%;
}
.cloud9{
  position: absolute;
  width: 80%;
  display: block;
  overflow: hidden;
  bottom: 10%;
}
.cloud10{
  position: absolute;
  width: 80%;
  display: block;
  overflow: hidden;
  bottom: 0;
}
@keyframes cloud{
    0% {
      opacity: 1;
      transform: scale(3);
    }
    100% {
      opacity: 0;
      transform: scale(3);
    }
}
.cloudimation{
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: block;
  animation: cloud 3s;
}

@media (max-width: 1440px){
  .text_time img{
    width: 750px;
    height: 170px;
    transition: .2s;
  }
  .world img{
    position: fixed;
    bottom: 0%;
    width: 750px;
    height: 400px;
    transition: .2s;
  }
  .box_login{
    left: 7%;
    top: 7%;
    width: 23%;
    height: 60%;
    transition: .2s;
  }
  .box_login .remember{
    margin-top: 4%;
    transition: .2s;
  }
  .username input{
    width: 85%;
    transition: .2s;
  }
  .password input{
    width: 85%;
    transition: .2s;
  }
  .remember a{
    margin-left: 58%;
    transition: .2s;
  }
  .username i{
    margin-left: 83%;
    transition: .2s;
  }
  .password i{
    margin-left: 83%;
    transition: .2s;
  }
  .page_login button{
    margin-top: 75%;
    margin-left: 33%;
    width: 40%;
    font-size: 20px;
    transition: .2s;
  }
  .login p{
    margin-top: 100%;
    text-align: center;
    transition: .2s;
  }
}

@media (max-width: 1170px){
  .text_time img{
    margin-top: 10%;
    width: 580px;
    height: 150px;
    transition: .2s;
  }
  .world img{
    position: fixed;
    bottom: 0%;
    width: 590px;
    height: 300px;
    transition: .2s;
  }
  .box_login{
    margin-left: 60%;
    margin-top: 10%;
    width: 27%;
    transition: .2s;
  }
  .page_login button{
    margin-top: 65%;
    margin-left: 33%;
    font-size: 17px;
    width: 40%;
    transition: .2s;
  }
  .login p{
    margin-top: 93%;
    font-size: 14px;
    text-align: center;
    transition: .2s;
  }
  .remember a{
    margin-left: 60%;
    font-size: 14px;
    transition: .2s;
  }

  .remember label{
    font-size: 14px;
    transition: .2s;
  }
}

@media (max-width: 1024px){
  .text_time img{
    margin-top: 10%;
    width: 500px;
    height: 150px;
    transition: .2s;
  }
  .world img{
    position: fixed;
    bottom: 0%;
    width: 500px;
    height: 300px;
    transition: .2s;
  }
  .box_login{
    margin-left: 62%;
    margin-top: 13%;
    width: 27%;
    transition: .2s;
  }
  .remember a{
    margin-left: 57%;
    font-size: 13px;
    transition: .2s;
  }

  .remember label{
    font-size: 13px;
    transition: .2s;
  }
  .login p{
    font-size: 15px;
    margin-top: 85%;
    margin-left: 6%;
    transition: .2s;
  }
  .page_login button{
    margin-left: 33%;
    transition: .2s;
  }
  .username input{
    font-size: 13px;
    transition: .2s;
  }
  .password input{
    font-size: 13px;
    transition: .2s;
  }
  .username i{
    font-size: 20px;
    transition: .2s;
  }
  .password i{
    font-size: 20px;
    transition: .2s;
  }
  .login p{
    margin-top: 108%;
    font-size: 14px;
    text-align: center;
    transition: .2s;
  }
  .page_login button{
    margin-left: 25%;
    margin-top: 80%;
    width: 50%;
    font-size: 18px;
    transition: .2s;
  }
}

@media (max-width: 900px){
  .box_login{
    height: 55%;
    transition: .2s;
  }
  .remember a{
    margin-top: 45%;
    margin-left: 57%;
    font-size: 13px;
    transition: .2s;
  }
  .remember label{
    margin-top: 45%;
    font-size: 13px;
    transition: .2s;
  }
  .login p{
    margin-top: 118%;
    font-size: 13px;
    transition: .2s;
  }
}

@media (max-width: 800px){
  .text_time img{
    position: fixed;
    top: 6px;
    left: 10%;
    width: 630px;
    height: 130px;
    transition: .2s;
  }
  .world img{
    position: fixed;
    left: 18%;
    bottom: 0%;
    width: 500px;
    height: 205px;
    transition: .2s;
  }
  .box_login{
    margin-left: 25%;
    margin-top: 20%;
    width: 35%;
    height: 50%;
    transition: .2s;
  }
  .username i{
    font-size: 18px;
    transition: .2s;
  }
  .password i{
    font-size: 18px;
    transition: .2s;
  }
  .page_login button{
    margin-top: 65%;
    font-size: 17px;
    transition: .2s;
  }
  .remember a{
    margin-left: 57%;
    font-size: 13px;
    transition: .2s;
  }
  .remember label{
    font-size: 13px;
    transition: .2s;
  }
  .login p{
    margin-top: 90%;
    font-size: 13px;
    transition: .2s;
  }
  .username input{
    font-size: 13px;
    transition: .2s;
  }
  .password input{
    font-size: 13px;
    transition: .2s;
  }
}

@media (max-width:700px){
  .text_time img{
    position: fixed;
    top: 3%;
    left: 18%;
    width: 490px;
    height: 120px;
    transition: .2s;
  }
  .world img{
    position: fixed;
    bottom: 0%;
    left: 18%;
    width: 450px;
    height: 200px;
    transition: .2s;
  }
  .box_login{
    margin-top: 30%;
    margin-left: 20%;
    width: 50%;
    height: 50%;
    transition: .2s;
  }
  .username i{
    margin-top: 11.5%;
    font-size: 18px;
    transition: .2s;
  }
  .password i{
    margin-top: 27%;
    font-size: 18px;
    transition: .2s;
  }
  .page_login button{
    margin-top: 55%;
    font-size: 17px;
    transition: .2s;
  }
  .remember a{
    margin-top: 35%;
    margin-left: 64%;
    font-size: 13px;
    transition: .2s;
  }
  .remember label{
    margin-top: 35%;
    font-size: 13px;
    transition: .2s;
  }
  .login p{
    margin-top: 76%;
    margin-left: 4.5%;
    font-size: 13px;
    transition: .2s;
  }
  .username input{
    height: 8%;
    margin-top: 10%;
    font-size: 13px;
    transition: .2s;
  }
  .password input{
    height: 8%;
    margin-top: 25%;
    font-size: 13px;
    transition: .2s;
  }
  .box_login h1{
    margin-top: 8%;
    transition: .2s;
  }
}

@media (max-width: 580px){
  .text_time img{
    position: fixed;
    top: 3%;
    left: 12%;
    width: 430px;
    height: 120px;
    transition: .2s;
  }
  .world img{
    position: fixed;
    bottom: 0%;
    left: 13.5%;
    width: 410px;
    height: 205px;
    transition: .2s;
  }
  .box_login{
    margin-top: 25%;
    margin-left: 18%;
    width: 50%;
    height: 50%;
    transition: .2s;
  }
  .login p{
    font-size: 12px;
    transition: .2s;
  }
  .box_login h1{
    margin-top: 10%;
    font-size: 45px;
    transition: .2s;
  }
  .username input{
    height: 6%;
    transition: .2s;
  }
  .password input{
    height: 6%;
    transition: .2s;
  }
}

@media (max-width: 490px){
  .text_time img{
    position: fixed;
    top: 3%;
    left: 12%;
    width: 380px;
    height: 110px;
    transition: .2s;
  }
  .world img{
    position: fixed;
    bottom: 0%;
    left: 11%;
    width: 385px;
    height: 190px;
    transition: .2s;
  }
  .login p{
    margin-top: 95%;
    font-size: 13px;
    transition: .2s;
  }
  .remember a{
    margin-top: 43%;
    transition: .2s;
  }
  .remember label{
    margin-top: 43%;
    transition: .2s;
  }
  .page_login button{
    margin-top: 70%;
    font-size: 15px;
    transition: .2s;
  }
}

@media (max-width: 430px){
  .text_time img{
    position: fixed;
    top: 30px;
    left: 13%;
    width: 330px;
    height: 100px;
    transition: .2s;
  }
  .world img{
    position: fixed;
    bottom: 0%;
    left: 6%;
    width: 380px;
    height: 180px;
    transition: .2s;
  }
  .box_login{
    margin-left: 15%;
    margin-top: 30%;
    width: 60%;
    height: 50%;
    transition: .2s;
  }
  .login p{
    margin-top: 95%;
    font-size: 13px;
    transition: .2s;
  }
  .remember a{
    margin-left: 61%;
    font-size: 11px;
    margin-top: 40%;
    transition: .2s;
  }
  .remember label{
    font-size: 11px;
    margin-top: 40%;
    transition: .2s;
  }
  .page_login button{
    margin-top: 70%;
    font-size: 15px;
    transition: .2s;
  }
}

@media (max-width: 375px){
  .text_time img{
    position: fixed;
    top: 30px;
    left: 8.5%;
    width: 330px;
    height: 100px;
    transition: .2s;
  }
  .world img{
    position: fixed;
    bottom: 0%;
    left: 8.5%;
    width: 315px;
    height: 160px;
    transition: .2s;
  }
  .box_login h1{
    font-size: 45px;
    transition: .2s;
  }
  .login p{
    margin-top: 110%;
    font-size: 11px;
    transition: .2s;
  }
  .remember a{
    margin-left: 57%;
    font-size: 11px;
    transition: .2s;
  }
  .remember label{
    font-size: 11px;
    transition: .2s;
  }
  .username input{
    font-size: 11px;
    transition: .2s;
  }
  .password input{
    font-size: 11px;
    transition: .2s;
  }
  .page_login button{
    top: 30%;
    height: 8%;
    font-size: 15px;
    transition: .2s;
  }
  .box_login{
    margin-top: 40%;
    width: 60%;
    height: 45%;
    transition: .2s;
  }
}

@media (max-width: 320px){
  .text_time img{
    position: fixed;
    top: 10%;
    left: 8%;
    width: 280px;
    height: 90px;
    transition: .2s;
  }
  .world img{
    position: fixed;
    bottom: 0%;
    left: 5.5%;
    width: 290px;
    height: 160px;
    transition: .2s;
  }
  .box_login{
    margin-top: 55%;
    width: 60%;
    height: 40%;
    transition: .2s;
  }
  .box_login h1{
    font-size: 40px;
    transition: .2s;
  }
  .username i{
    margin-top: 13%;
    font-size: 13px;
    transition: .2s;
  }
  .password i{
    margin-top: 32%;
    font-size: 13px;
    transition: .2s;
  }
  .password input{
    margin-top: 30%;
    transition: .2s;
  }
  .remember a{
    margin-top: 43%;
    font-size: 11px;
    transition: .2s;
  }
  .remember label{
    margin-top: 43%;
    font-size: 11px;
    transition: .2s;
  }
  .login p{
    margin-top: 111%;
    font-size: 11px;
    transition: .2s;
  }
  .page_login button{
    height: 9%;
    font-size: 15px;
    transition: .2s;
  }
}