/* พื้นหลัง */
body{
    display: flex;
    min-height: 10vh;
    background: url(../img/background_login.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

/* background ด้านหลัง */
.backdrop{
    background-color: rgba(245, 245, 245, 0.5);
    position: absolute;
    width : 47%;
    height : 40%;
    margin-top: 12%;
    margin-left: 30%;
    border-radius: 50px;
    border: 2px solid black;
}

/* text reset password */
.backdrop h1{
    font-family: Jua;
    color: #fff;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    position: absolute;
    font-size: 60px;
    margin-top: 5%;
    margin-left: 5%
}

/* text ใต้ reset password */
.backdrop p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    margin-top: 12%;
    margin-left: 8%;
}

/* text e-mail address */
.backdrop h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 33px;
    position: absolute;
    margin-top: 17%;
    margin-left: 5%;
}

/* กล่องใส่ email */
.backdrop input{
    width: 80%;
    height: 8%;
    border: 1px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    border-color: black;
    position: absolute;
    margin-top: 23%;
    margin-left: 5%;
    padding: 6px 20px;
}

/* กด next */
.backdrop button{
    width: 17%;
    height: 13%;
    background: black;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    position: absolute;
    margin-top: 33%;
    margin-left: 35%;
}

/* ข้างล่าง forgot หน้า2 */

/* backdrop */
#new_password{
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    width : 45%;
    height : 60%;
    margin-top: 8%;
    margin-left: 27%;
    border-radius: 50px;
    border: 2px solid black;
}

/* text create new password */
.create h1{
    font-family: Jua;
    font-size: 65px;
    color: #fff;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    position: absolute;
    margin-top: 5%;
    margin-left: 8%;
}

/* text ใต้ create */
.create p{
    font-size: 20px;
    color: #4b4b4b;
    position: absolute;
    margin-top: 13.5%;
    margin-left: 12%;
}

/* text password */
.text_pass h2{
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    position: absolute;
    margin-top: 18%;
    margin-left: 9%;
}

/* box password */
.text_pass input{
    width: 70%;
    height: 5%;
    border: 2px solid rgba(255, 255, 255, .2);
    font-size: 16px;
    border-radius: 40px;
    border-color: black;
    position: absolute;
    margin-top: 25%;
    margin-left: 8%;
    padding: 6px 20px;
}

/* text ใต้ box password */
.text_pass p{
    font-size: 17px;
    color: #383838;
    position: absolute;
    margin-top: 31%;
    margin-left: 12%;
}

/* text confirm password */
.text_confirm h2{
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    position: absolute;
    margin-top: 35%;
    margin-left: 9%;
}

/* box confirm password */
.text_confirm input{
    width: 70%;
    height: 5%;
    border: 2px solid rgba(255, 255, 255, .2);
    font-size: 16px;
    border-radius: 40px;
    border-color: black;
    position: absolute;
    margin-top: 42%;
    margin-left: 8%;
    padding: 6px 20px;
}

/* text ใต้ box confirm password */
.text_confirm p{
    font-size: 17px;
    color: #383838;
    position: absolute;
    margin-top: 48%;
    margin-left: 12%;
}

/* button reset password */
#new_password button{
    width: 25%;
    height: 10%;
    background: black;
    border-radius: 40px;
    cursor: pointer;
    font-size: 20px;
    color: #fff;
    font-weight: 600;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    position: absolute;
    margin-top: 55%;
    margin-left: 36.5%;
}

/* ขึ้นแจ้งเตือน */
.alert {
    font-family: sans-serif;
    z-index: 1;
    padding: 1%;
    background-color: #f44336; /* สีแดง */
    color: white;
    margin: 0.5%;
    margin-top: 1%;
    width: 96%;
    position: fixed;
    font-weight: bold;
}

.closebtn {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5%;
    margin: 0.5%;
    cursor: pointer;
}

.closebtn:hover {
    background-color: #d32f2f;
}

.alerts {
    font-family: sans-serif;
    font-weight: bold;
    z-index: 1;
    padding: 1%;
    background-color: #32fc00;
    color: white;
    margin: 0.5%;
    margin-top: 1%;
    width: 96%;
    position: fixed;

}

.closebtns {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5%;
    margin: 0.5%;
    cursor: pointer;
}

.closebtns:hover {
    background-color: #08f100;
}

@media (max-width: 1440px){
    /* reset page */
    .create h1{
        font-size: 55px;
        transition: .2s;
    }
    #new_password{
        margin-left: 21.7%;
        width: 60%;
        height: 70%;
        transition: .2s;
    }
    .create p{
        margin-top: 13%;
        transition: .2s;
    }
    .text_pass h2{
        margin-top: 18%;
        transition: .2s;
    }
    .text_pass input{
        margin-top: 26%;
        transition: .2s;
    }
    .text_pass p{
        margin-top: 34%;
        transition: .2s;
    }
    .text_confirm h2{
        margin-top: 40%;
        transition: .2s;
    }
    .text_confirm input{
        margin-top: 48%;
        transition: .2s;
    }
    .text_confirm p{
        margin-top: 56%;
        transition: .2s;
    }
    #new_password button{
        margin-top: 65%;
        width: 35%;
        margin-left: 33%;
        transition: .2s;
    }

    /* first page */

    .backdrop{
        width: 50%;
        transition: .2s;
    }
    .backdrop p{
        margin-top: 15.5%;
        transition: .2s;
    }
    .backdrop h2{
        margin-top: 25%;
        transition: .2s;
    }
    .backdrop button{
        width: 20%;
        margin-top: 42%;
        transition: .2s;
    }
    .backdrop input{
        margin-top: 33%;
        transition: .2s;
    }
}

@media (max-width: 1024px){
    /* reset page */
    #new_password{
        margin-left: 14.4%;
        width: 70%;
        height: 70%;
        transition: .2s;
    }
    .create h1{
        font-size: 50px;
        -webkit-text-stroke-width: 1px;
        transition: .2s;
    }
    .create p{
        margin-top: 15%;
        font-size: 18px;
        transition: .2s;
    }
    .text_pass h2{
        font-size: 35px;
        margin-top: 24%;
        transition: .2s;
    }
    .text_pass input{
        height: 4%;
        margin-top: 33%;
        transition: .2s;
    }
    .text_pass p{
        margin-top: 41%;
        font-size: 16px;
        transition: .2s;
    }
    .text_confirm h2{
        font-size: 35px;
        margin-top: 46%;
        transition: .2s;
    }
    .text_confirm input{
        height: 4%;
        margin-top: 55%;
        transition: .2s;
    }
    .text_confirm p{
        margin-top: 63%;
        font-size: 16px;
        transition: .2s;
    }
    #new_password button{
        margin-top: 70%;
        width: 35%;
        margin-left: 33%;
        font-size: 18px;
        transition: .2s;
    }

    /* first page */

    .backdrop{
        width: 70%;
        height: 50%;
        margin-top: 18%;
        margin-left: 14.5%;
        transition: .2s;
    }
    .backdrop p{
        font-size: 15px;
        transition: .2s;
    }
    .backdrop button{
        margin-left: 38%;
        margin-top: 47%;
        transition: .2s;
    }
}

@media (max-width: 768px){
    /* reset page */
    #new_password{
        margin-top: 15%;
        margin-left: 9%;
        width: 80%;
        height: 70%;
        transition: .2s;
    }
    .create h1{
        font-size: 45px;
        -webkit-text-stroke-width: 1px;
        transition: .2s;
    }
    .create p{
        margin-top: 15%;
        font-size: 15px;
        transition: .2s;
    }
    .text_pass h2{
        font-size: 30px;
        margin-top: 22%;
        transition: .2s;
    }
    .text_pass input{
        height: 3%;
        margin-top: 30%;
        transition: .2s;
    }
    .text_pass p{
        margin-top: 38%;
        font-size: 16px;
        transition: .2s;
    }
    .text_confirm h2{
        font-size: 30px;
        margin-top: 44%;
        transition: .2s;
    }
    .text_confirm input{
        height: 3%;
        margin-top: 53%;
        transition: .2s;
    }
    .text_confirm p{
        margin-top: 62%;
        font-size: 16px;
        transition: .2s;
    }
    #new_password button{
        margin-top: 75%;
        width: 35%;
        margin-left: 33%;
        font-size: 18px;
        transition: .2s;
    }

    /* first page */

    .backdrop{
        margin-top: 20%;
        transition: .2s;
    }
    .backdrop h1{
        font-size: 40px;
        -webkit-text-stroke-width: 1px;
        transition: .2s;
    }
    .backdrop p{
        margin-top: 15%;
        font-size: 12px;
        transition: .2s;
    }
    .backdrop h2{
        font-size: 30px;
        margin-top: 30%;
        transition: .2s;
    }
    .backdrop input{
        margin-top: 40%;
        transition: .2s;
    }
    .backdrop button{
        margin-top: 55%;
        width: 30%;
        margin-left: 35%;
        font-size: 15px;
        transition: .2s;
    }
}

@media (max-width: 600px){
    #new_password{
        margin-top: 15%;
        margin-left: 9%;
        width: 80%;
        height: 60%;
        transition: .2s;
    }
    .create h1{
        margin-top: 10%;
        font-size: 35px;
        -webkit-text-stroke-width: 1px;
        transition: .2s;
    }
    .create p{
        margin-top: 20%;
        font-size: 15px;
        transition: .2s;
    }
    .text_pass h2{
        font-size: 25px;
        margin-top: 30%;
        transition: .2s;
    }
    .text_pass input{
        height: 3%;
        margin-top: 38%;
        transition: .2s;
    }
    .text_pass p{
        margin-top: 47%;
        font-size: 13px;
        transition: .2s;
    }
    .text_confirm h2{
        font-size: 25px;
        margin-top: 55%;
        transition: .2s;
    }
    .text_confirm input{
        height: 3%;
        margin-top: 65%;
        transition: .2s;
    }
    .text_confirm p{
        margin-top: 74%;
        font-size: 13px;
        transition: .2s;
    }
    #new_password button{
        margin-top: 85%;
        width: 45%;
        margin-left: 28%;
        font-size: 18px;
        transition: .2s;
    }
}
@media (max-width: 430px){
    .backdrop{
        height: 50%;
        width: 80%;
        margin-left: 10%;
        margin-top: 20%;
        transition: .2s;
    }
    .backdrop h1{
        font-size: 35px;
        margin-top: 10%;
        transition: .2s;
    }
    .backdrop p{
        margin-top: 25%;
        font-size: 12px;
        transition: .2s;
    }
    .backdrop h2{
        margin-top: 47%;
        transition: .2s;
    }
    .backdrop input{
        margin-top: 64%;
        height: 5%;
        width: 70%;
        font-size: 13px;
        transition: .2s;
    }
    .backdrop button{
        width: 40%;
        height: 9%;
        margin-top: 90%;
        margin-left: 30%;
        transition: .2s;
    }
}

@media (max-width: 450px){
    #new_password{
        margin-top: 32%;
        margin-left: 9%;
        width: 80%;
        height: 58%;
        transition: .2s;
    }
    .create h1{
        font-size: 30px;
        -webkit-text-stroke-width: 0.5px;
        transition: .2s;
    }
    .create p{
        margin-top: 20%;
        font-size: 10px;
        transition: .2s;
    }
    .text_pass h2{
        font-size: 20px;
        margin-top: 28%;
        transition: .2s;
    }
    .text_pass input{
        height: 3%;
        margin-top: 38%;
        font-size: 12px;
        transition: .2s;
    }
    .text_pass p{
        margin-top: 49%;
        font-size: 12px;
        transition: .2s;
    }
    .text_confirm h2{
        font-size: 20px;
        margin-top: 58%;
        transition: .2s;
    }
    .text_confirm input{
        height: 3%;
        margin-top: 68%;
        transition: .2s;
        font-size: 12px
    }
    .text_confirm p{
        margin-top: 80%;
        font-size: 12px;
        transition: .2s;
    }
    #new_password button{
        margin-top: 100%;
        width: 60%;
        margin-left: 22%;
        font-size: 15px;
        transition: .2s;
    }
}

@media (max-width: 382px){
    #new_password{
        margin-top: 32%;
        margin-left: 9%;
        width: 80%;
        height: 50%;
        transition: .2s;
    }
    .create h1{
        font-size: 35px;
        -webkit-text-stroke-width: 0.5px;
        transition: .2s;
    }
    .create p{
        margin-top: 40%;
        font-size: 10px;
        transition: .2s;
    }
    .text_pass h2{
        font-size: 20px;
        margin-top: 48%;
        transition: .2s;
    }
    .text_pass input{
        height: 2%;
        margin-top: 59%;
        font-size: 10px;
        transition: .2s;
    }
    .text_pass p{
        margin-top: 70%;
        font-size: 10px;
        transition: .2s;
    }
    .text_confirm h2{
        font-size: 20px;
        margin-top: 75%;
        transition: .2s;
    }
    .text_confirm input{
        height: 2%;
        margin-top: 87%;
        transition: .2s;
        font-size: 10px
    }
    .text_confirm p{
        margin-top: 98%;
        font-size: 10px;
        transition: .2s;
    }
    #new_password button{
        margin-top: 120%;
        width: 60%;
        margin-left: 22%;
        font-size: 15px;
        transition: .2s;
    }
}