*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    min-height: 10vh;
    background: url(../img/default.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.picture{
    height: 15vw;
    width: 15vw;
    border: 3.5px solid black;
    border-radius: 50%;
    position: absolute;
    top: 15%;
    left: 15%;
}

.searchbox input{
    width: 45vw;
    height: 3vw;
    background-color: #ffffff;
    border: 1.5px solid black;
    position: absolute;
    top: 30%;
    left: 35%;
    padding-left: 35px;
    font-size: 1rem;
}
/* รูปแว่นขยาย */
.magnify img{
    position: absolute;
    top: 31.75%;
    left: 35.5%;
}

.name_user{
    font-size: 5vw;
    position: absolute;
    top: 15%;
    left: 35%;
    font-family: Jua;
    color: black;
}

.box{
    width: 75vw;
    height: 25vw;
    background-color: #ffffff;
    position: absolute;
    bottom: 0;
    left: 13%;
    border: 3px solid black;
}

.wrapper::-webkit-scrollbar{
    display: none;
}
.wrapper{
    display: grid;
    gap: 50px;
    overflow-x: auto;
    grid-auto-flow: column;
    margin-top: 3.5%
}
.room_box{
    width: 15vw;
    height: 20vw;
    object-fit: cover;
    margin-left: 15px;
    background-color: #e0f7bb;
    border-radius: 50px;
    align-items: center;
    border: 1px solid black;
}
.createroom{
    margin-top: 3.5%;
    text-align: center;
    font-size: 2.5vw;
    font-weight: 100;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 50px;
}
/* ปุ่มสร้างห้อง */
.createroom button{
    background-color: transparent;
    border-style: none;
    cursor: pointer;
}
.createroom img{
    width: 10vw;
    height: 10vw;
    background-color: transparent;
    border-style: none;
    cursor: pointer;
    padding-top: 25px;
}

.room_box p{
    text-align: center;
    margin: 20px auto;
}
