*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* background ด้านหลัง */
body{
    display: flex;
    min-height: 10vh;
    background: url(../img/default.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    justify-content: center;
    align-items: center;
}
/* ช่องโปรไฟล์ */
.picture{
    border-radius: 50%;
    position: absolute;
    top: 15%;
    left: 15%;
    object-fit: cover;
}
/* ช่อง search */
.searchbar{
    width: 45vw;
    height: 3vw;
    position: absolute;
    top: 30%;
    left: 35%;
}
/* ตัว element ช่องsearch */
.searchbox input{
    width: 45vw;
    height: 50px;
    background-color: #ffffff;
    border: 1.5px solid black;
    padding-left: 45px;
    font-size: 1rem;
}
/* รูปแว่นขยาย */
.searchbox span{
    position: absolute;
    top: 10px;
    left: 10px;
    width: 30px;
    height: 30px;
    background: url(../img/magnifying-glass.png) no-repeat;
    background-size: contain;
}
/* ชื่อ user */
.name_user{
    font-size: 2.5vw;
    position: absolute;
    top: 17.5%;
    left: 35%;
    font-family: Jua;
    color: black;
    -webkit-text-stroke: 0.005vw white;
}
/* กล่องสี่เหลี่ยมสีขาว */
.box{
    width: 75vw;
    height: 425px;
    background-color: #ffffff;
    position: absolute;
    bottom: 0;
    left: 13%;
    border: 2px solid black;
}
/* แถบ scollbar ใน box (ทำให้ไม่มี) */
.wrapper::-webkit-scrollbar{
    display: none;
}
/* ช่องใน box ที่เก็บ roombox, create room */
.wrapper{
    width: 100%;
    height: 100%;
    display: grid;
    gap: 50px;
    overflow-x:scroll;
    grid-auto-flow: column;
    padding: 1.5% 3% 1.5% 3%;
    align-items: center;
}
/* ก็ room_box นั่นแหละ */
.room_box{
    width: 275px;
    height: 95%;
    object-fit: cover;
    background-color: #e0f7bb;
    border-radius: 27.5px;
    align-items: center;
    border: 1px solid black;
    padding: 0 0px 0px 23px;
    cursor: pointer;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
/* เส้นใต้ตัวอักษรของ room */
.line{
    position: relative;
    left: 11%;
    width: 200px;
    border-bottom: 1px solid black;
}
/* เส้นใต้ตัวอักษรของ place, date, time */
.line2{
    position: relative;
    left: -3%;
    width: 150px;
    border-bottom: 1px solid black;
}
/* ขนาดของ create room */
.createroom{
    position: relative;
    top: 20%;
    width: 200px;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 30px;
    font-weight: 2100;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* ปุ่มสร้างห้อง */
.createroom button{
    background-color: transparent;
    border-style: none;
    cursor: pointer;
}
/* รูปปุ่มสร้างห้อง */
.createroom img{
    width: 200px;
    height: 170px;
    background-color: transparent;
    border-style: none;
    cursor: pointer;
}
/* 'room' ใน room_box */
.room_box p{
    position: relative;
    top: 8.25%;
    left: -2%;
    font-size: 15px;
}
/* ชื่อห้อง */
.line p{
    text-align:center;
    left: -10%;
    font-size: 20px;
}
/* element ของ status ใน room_box */
.status{
    display: flex;
    gap: 0.25vw;
    position: relative;
    top: 5%;
}
/* รูปของ status */
.status img{
    position: relative;
    top: -5px;
    left: -3.5px;
    width: 25px;
    height: 25px;
}
/* element ของ place, date, time ใน room_box */
.place, .date, .timey{
    display: flex;
    gap: 0.25vw;
    position: relative;
    top: 6%;
    padding-bottom: 10px;
}
/* ตัวอักษร 'place:', 'date:', 'time:' ตามลำดับ */
.place p.text_place, .date p.text_date, .timey p.text_time{
    top: 3px;
}
/* ตัวอักษรบนเส้นใต้ place, date, time*/
.line2 p{
    position: relative;
    top: 0;
    left: 3px;
}
/* รูปใน room_box */
.room_box .picpic{
    position: relative;
    bottom: -10%;
    width: 90%;
    height: 40%;
    border: 1px solid black;
    border-radius: 20px;
    background: url(../img/bgregister.jpg) no-repeat;
    background-size: cover;
    background-position: center top;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.29);
}
/* รูปโปรไฟล์ */
span.photo{
    position: relative;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    border: 2px solid black;
    display: block;
    overflow: hidden;
    background: url(../img/anonymous2.png) no-repeat;
    background-size: cover;
    background-position: center top;
    border-radius: 100%;
    cursor: pointer;
}
/* animation เมื่อ hover ที่ โปรไฟล์ */
span.photo:after{
  content: " Edit your Profile ";
  text-align: center;
  position: absolute;
  left: 0;
  padding: 35% 0 65%;
  height: 0;
  width: 100%;
  opacity: 0;
  color: #222;
  background-color: rgba(0,0,0,0.25);
  background-size: 100%;
  transition: 0.35s ease-in-out;
  overflow: hidden;
  border-radius: 100%;
  font-size: 3vw;
}
/* animation เมื่อ hover ที่ โปรไฟล์ */
span.photo:hover:after{
  bottom: 0;
  opacity: 1;
  color: #fff;
}
/* popup create room */
.popup_create{
    background-color: #FFE299;
}
/* element ใน popup create room */
.popup_box{
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    display: none;
}
/* element ใน popup create room เหมือนกัน */
.popup_content{
    width: 70%;
    min-height: 70%;
    background-color: #FFE299;
    position: absolute;
    padding: 50px;
    border-radius: 40px;
    border: 2px solid black;
}
/* คำบน input แต่ละอัน (group name, people limit, group password) */
.headword input{
    width: 80%;
    height: 40px;
    border: none;
    outline: none;
    background-color: floralwhite;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    border-color: black;
    margin-top: 30px;
    padding: 15px 20px 15px 10px;
}
/* input 3 อัน (group name, people limit, group password) */
input{
    flex: auto;
    width: 10%;
    height: 45px;
    background: black;
    border-radius: 40px;
    font-size: 16px;
    font-weight: 600;
    box-shadow: 0 0 10px rgba(46, 42, 42, 0.3);
}
/* ปุ่ม ส่ง */
.create_submit{
    color: #fff;
    width: 90px;
}
/* ปุ่มปิด */
.close{
    width: 45px;
    position: absolute;
    top: 20px;
    right: 40px;
    cursor: pointer;
}

@media (max-width: 1340px) {
    .searchbar{
        top: 30%;
        left: 37%;
        transition: .2s;
    }
    .name_user{
        top: 20%;
        left: 37%;
        transition: .2s;
    }
    span.photo{
        height: 230px;
        width: 230px;
        transition: .2s;
    }
}

@media (max-width: 1201px) {
    span.photo{
        height: 200px;
        width: 200px;
        transition: .2s;
    }
}
@media (max-width: 1025px) {
    .searchbar{
        top: 30%;
        left: 39%;
        transition: .2s;
    }
    .name_user{
        top: 23.5%;
        left: 39%;
        transition: .2s;
    }
    span.photo{
        height: 180px;
        width: 180px;
        transition: .2s;
    }
    .close{
        width: 35px;
        transition: .2s;
    }
}
@media (max-width: 769px) {
    .searchbar{
        top: 40%;
        left: 15%;
        transition: .2s;
    }
    .searchbar input{
        width: 65vw;
        transition: .2s;
    }
    .name_user{
        font-size: 5vw;
        top: 150px;
        left: 300px;
        transition: .2s;
    }
    span.photo{
        height: 180px;
        width: 180px;
        transition: .2s;
    }
    .close{
        width: 27px;
        transition: .2s;
    }
}

@media (max-width: 426px) {
    .interface{
        width: 100vw;
        height: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .name_user{
        position: absolute;
        top: 30%;
        left: 17.5%;
        transition: .2s;
    }
    .picture{
        position: absolute;
        top: 5%;
        left: 27.5%;
        transition: .2s;
    }
    .searchbar input{
        width: 70vw;
        transition: .2s;
    }
    .wrapper{
        width: 100%;
        height: 100%;
        display: grid;
        gap: 50px;
        overflow-y:scroll;
        grid-auto-flow: row;
        padding: 1.5% 3% 1.5% 3%;
        align-items: center;
    }
    .createroom{
        left: 10%;
    }
    .room_box{
        width: 90%;
        height: 350px;
        position: relative;
        left: 5%;
        padding: 0 0px 0px 15px;
        overflow: hidden;
    }
    .line{
        left: 12%;
        width: 175px;
    }
    .line2{
        position: relative;
        left: -2%;
        width: 160px;
    }
    .place p.text_place, .date p.text_date, .timey p.text_time{
        top: 4px;
    }
    .popup_box{
        position: absolute;
        bottom: 0;
        transition: .2s;
    }
    .close{
        width: 26px;
        right: 30px;
        transition: .2s;
    }
}

/* ขึ้นแจ้งเตือน */
.alert {
    font-family: sans-serif;
    z-index: 1;
    padding: 1%;
    background-color: #32fc00;
    color: white;
    margin: 2%;
    margin-top: 1.5%;
    width: 96%;
    position: fixed;

}

.closebtn {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5%;
    margin: 0.5%;
    cursor: pointer;
}

.closebtn:hover {
    background-color: #08f100;
}