@font-face {
    font-family: "inter";
    src: url(../font/Inter-Regular.woff);
}
/*ภาพ background*/
body{
    background-image: url("../img/bgregister.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    font-family: Inter, sans-serif;
}
/*ทั้งหมดในกรอบขาว*/
.page_register{
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    top: 5%;
    left: 11%;
    background-color: rgba(245, 245, 245, 0.5);
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    border: none;
    outline: none;
    border: 2px solid;
    border-color: black;
    width: 1400px;
    height: 810px;
    align-content: stretch;
    margin: auto;
    z-index: -1;
}
/*หน้าสมัคร*/
.register{
    position: relative;
    display: flex;
    margin-top: 80px;
}
/*รวมภาพไว้ในกลุ่มเดียวกัน*/
 .picture{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
 }
 /*createaccount button*/
.register .Createaccount{
    width: 100%;
    height: 45px;
    background: black;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    
}

.register .box input{
    align-items: center;
    width: 100%;
    height: 15px;
    margin: px;
}

.box input{
    width: 100%;
    height: 100%;
    background-color: #fff;
    box-shadow: 0 0 30px rgba(0, 0, 0, .3);
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    margin-top: 30px;
    padding: 20px 45px 20px 20px;
}

h1{
    text-shadow: 0 0 70px;
}

*{
    margin: 10px;
    padding: px 45px 20px 20px;
    box-sizing: border-box;
}
/* ขึ้นแจ้งเตือน */
.alert {
    font-family: sans-serif;
    font-weight: bold;
    padding: 20px;
    background-color: #f44336; /* สีแดง */
    color: white;
    margin-bottom: 15px;
    position: relative;
}

.closebtn {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
}

.closebtn:hover {
    background-color: #d32f2f;
}

.cloudimation{
    position: absolute;
    left: -40%;
    top: -50%;
    display: block;
    opacity: 0;
    animation: cloud 3s;
}
.cloud1{
    position: absolute;
    display: block;
}
.cloud2{
    position: absolute;
    display: block;
}
.cloud3{
    position: absolute;
    display: block;
}
.cloud4{
    max-width: 100vw;
    position: absolute;
}
@keyframes cloud{
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
