@font-face {
    font-family: "inter";
    src: url(../font/Inter-Regular.woff);
}
/*ภาพ background*/
body{
    background-image: url("../img/bgregister.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    font-family: Inter, sans-serif;
}
/*ทั้งหมดในกรอบขาว*/
.page_register{
    position: fixed;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    top: 5%;
    left: 11%;
    background-color: rgba(245, 245, 245, 0.5);
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    width: 1400px;
    height: 810px;
    align-content: stretch;
    margin: auto;
}
/*หน้าสมัคร*/
.register{
    display: flex;
}
/*รวมภาพไว้ในกลุ่มเดียวกัน*/
 .picture{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
 }