@font-face {
    font-family: "inter";
    src: url(../font/Inter-Regular.woff);
}

body{
    background-image: url("../img/bgregister.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    font-family: Inter, sans-serif;
}

.page_register{
    position: fixed;
    display: flex;
    margin: auto;
    top: 7%;
    left: 10%;
    background-color: rgba(245, 245, 245, 0.5);
    background-position: center;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
    color: #ffffff;
    border-radius: 50px;
    padding: 235px 500px;
}
 .airplane{
    margin: 0 auto;
    top: 200px;
    display: flex;
    padding: auto;
 }