*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #EEFBFF;
}
/* แถบสีเหลือง */
.searchbar{
    width: 100vw;
    height: 15vh;
    background-color: #FBEEAC;
    position: fixed;
    border-bottom: 1.5px solid black;
    display: flex;
    justify-content: right;
}
/* แถบโปรไฟล์ */
.profile{
    width: 150px;
    height: 100vh;
    background-color: #31ABF0;
    position: fixed;
    display: flex;
    justify-content: center;
    border-right: 1.5px solid black;
}
/* วงกลมโปรไฟล์ */
.picture{
    height: 7.5rem;
    width: 7.5rem;
    border: 2px solid black;
    border-radius: 50%;
    position: relative;
    top: 3%;
}
/* สี่เหลี่ยมมนๆสีฟ้า */
.welcome{
    width: 635px;
    height: 95vh;
    background-color: #C5F1FF;
    position: fixed;
    left: 100px;
    top: 5%;
    display: flex;
    justify-content: center;
    border: 1.5px solid black;
    border-radius: 50px;
}
/* ช่องหาห้อง */
.searchbox input{
    width: 300px;
    height: 50px;
    background-color: #FBFFDC;
    border: 1.5px solid black;
    position: relative;
    top: 30%;
    right: 5%;
    padding-left: 35px;
    font-size: 1rem;
}
/* รูปแว่นขยาย */
.magnify{
    position: relative;
    top: 35%;
    right: 315px;
}
/* ตำแหน่งปุ่มสร้างห้อง */
.createroom{
    position: absolute;
    left: 63%;
    top: 30%;
    text-align: center;
    font-size: 50px;
}
/* ปุ่มสร้างห้อง */
.createroom button{
    background-color: transparent;
    border-style: none;
    cursor: pointer;
    padding-top: 25px;
}
/* จดหมาย */
.letter{
    position: absolute;
    right: 20%;
    top: 30%;
    text-align: center;
    font-size: 50px;
}

@media screen and (max-width: 1201px) {
    .profile{
        width: 125px;
    }
    .picture{
        height: 6.5rem;
        width: 6.5rem;
    }
    .welcome{
        width: 500px;
        left: 50px;
    }
    .createroom{
        left: 60%;
        font-size: 35px;
    }
    .createroom img{
        width: 90%;
        height: 90%;
    }
}
@media screen and (max-width: 1025px) {
    .welcome{
        width: 55vw;
        left: 75px;
    }
    .createroom{
        left: 60%;
        top: 25%;
        font-size: 30px;
    }
    .createroom img{
        width: 80%;
        height: 80%;
    }
    .searchbox input{
        width: 225px;
        height: 50px;
        top: 25%;
        left: 0%;
        padding-left: 35px;
    }
    .magnify{
        top: 30%;
        right: 220px;
    }
}
@media screen and (max-width: 769px) {
    .welcome{
        width: 50vw;
        left: 75px;
    }
    .createroom{
        font-size: 25px;
    }
    .createroom img{
        width: 75%;
        height: 75%;
    }
    .searchbox input{
        width: 30vw;
        top: 25%;
        left: 0%;
        padding-left: 35px;
    }
    .magnify{
        top: 30%;
        right: 29.5vw;
    }
}
@media screen and (max-width: 481px) {
    .welcome{
        width: 0vw;
        height: 0vw;
    }
    .createroom{
        left: 30%;
        top: 25%;
        font-size: 35px;
    }
    .createroom img{
        width: 85%;
        height: 85%;
    }
    .searchbox input{
        width: 45vw;
        position: absolute;
        top: 25%;
        left: 40%;
        padding-left: 35px;
    }
    .magnify{
        top: 30%;
        position: absolute;
        top: 35%;
        left: 42vw;
    }
}
@media screen and (max-width: 320px) {
    .createroom{
        left: 40%;
        top: 20%;
        font-size: 8.5vw;
    }
    .createroom img{
        width: 80%;
        height: 80%;
    }
    .profile{
        width: 35vw;
        height: 100vh;
    }
    .picture{
        height: 4.5rem;
        width: 4.5rem;
    }
    .searchbox input{
        width: 45vw;
        position: absolute;
        top: 25%;
        left: 40%;
        padding-left: 35px;
    }
    .magnify{
        top: 30%;
        position: absolute;
        top: 35%;
        left: 42vw;
    }
}
