<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        @font-face {
            font-family: myFirstFont;
            src: url(quite_something_demo-webfont.woff);
        }
        .text{
            font-family: myFirstFont;
            font-size: 100px;
            -webkit-text-stroke-width: 3px;
            -webkit-text-stroke-color: black;
            position:fixed;
            top: 2%;
            right: 40%;
        }
        .picture{
            position:fixed;
            top: 50%;
            right: 40%;
        }
    </style>
    <title>VothWarp</title>
</head>
<body background="img/background_login.png">
    <div class="text">
        <b><i><font color="White" ><h1>Time To Warp!!</h1></font></i></b>
    </div>
    <div class="picture">
        <img src="img/object1_login.png" alt="test" width="1000px" height="500px">
    </div>
</body>
</html>
