<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Skranji">
    <style>
    .text{
        font-family: "Skranji";
        font-size: 75px;
    }
    .text{
        -webkit-text-stroke-width: 3px;
        -webkit-text-stroke-color: black;
        position:fixed;
        top: 5%;
        right: 40%;
    }
    .picture{
        position:fixed;
        top: 50%;
        right: 40%;
    }
    </style>
    <title>VothWarp</title>
</head>
<body background="img/background_login.png">
    <div class="text">
        <b><i><font color="White" ><h1>Time To Warp!!</h1></font></i></b>
    </div>
    <div class="picture">
        <img src="img/object1_login.png" alt="test" width="1000px" height="500px">
    </div>
</body>
</html>
