<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lobby</title>
    <link rel="stylesheet" href="../static/css/style_lobby.css">
</head>
<body>
    <div class="createroom">
        <div calss="letter" id="letter">
            <!-- เพิ่มจดหมายเมื่อคลิก create room -->
        </div>
        <button onclick="addroom()"><img src="/static/img/createroom_button.png" alt=""></button>
        <div>Create Room</div>
    </div>
    <div class="searchbar">
        <div class="searchbox">
            <input type="text" placeholder="join room" src="">
            <span class="magnify"><img src="../static/img/magnify_glass.png" alt=""></span>
        </div>
    </div>
    <div class="welcome">
    </div>
    <div class="profile" id="container">
        <div class="picture">
        </div>
    </div>
    <script src="../static/javascript/lobby.js"></script>
</body>
</html>
