<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>register</title>
    
    <link rel="stylesheet" href="../static/css/style_register.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap" rel="stylesheet">

</head>
<body>
    <div class="page_register">
        <div class="picture">
            <div class="letgo">
                <img src="../static/img/text_register.png" alt="letgo" width="521" height="190">
            </div>
            <div class="airplane">
                <img src="../static/img/airplane_register.png" alt="airplane" width="523" height="320">
            </div>
        </div>
        <div class="register">
            <form action="{{url_for('regiseter')}}" method="get">
                <h1>Register</h1>
                <div class="box">
                    <input type="text" placeholder="Username" name="Username">
                </div>
                <div class="box">
                    <input type="email" placeholder="Email" name="Email">
                </div>
                <div class="box">
                    <input type="password" placeholder="Password" name="Password" >
                </div>
                <div class="box">
                    <input type="password" placeholder="Comfirm Password" name="Comfirm Password" >
                </div>
            <button class="Createaccount" type="submit">Create account</button>
        </div>
    </div>
</body>
</html>
