<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>register</title>
    
    <link rel="stylesheet" href="../static/css/style_register.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap" rel="stylesheet">

</head>
<body>

    <div class="pic_google">
        <img src="../static/img/Google_logo.png" alt="picgoogle" width="50px" height="50px">
    </div>
    <div class="page_register">
        <form action="">
            <div class="picture1">
                <img src="../static/img/text_register.png" alt="pic1" width="521px" height="190px">
            </div>

            <div class="picture2">
                <img src="../static/img/airplane_register.png" alt="pic2" width="523px" height="320px">
            </div>
        </form>
    </div>
</body>
</html>
