div {
    button {
        border-radius: 5px; /* มุมโค้ง */
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* เงา */
    }
}
body {
    font-family: 'Raleway', sans-serif;
    background-image: linear-gradient(blue, aqua);
}