<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style_chatroom.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="chat_box">
            <div class="person">
                <div class="profile"></div>
                <div class="chattext">
                    <h1>คนหล่อ</h1>
                    <div class="messagebox">
                        <p>สะสวดีคระบลบบบบ</p>
                    </div>
                </div>
            </div>
            <div class="person">
                <div class="profile"></div>
                <div class="chattext">
                    <h1>คนหล่อ</h1>
                    <div class="messagebox">
                        <p>สวัสดีครับบบบบบบบบบบบบบบบบบบบบบบบบบบบบบบบบบบบบบบบบบบบ</p>
                    </div>
                </div>
            </div>
        </div>
        <form class="writing_panel">
            <input type="text" placeholder="write something" required class="write">
            <input type="submit" class="submit_button">
        </form>
    </div>
</body>
</html>