<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/complete.css">
    <title>complete</title>
</head>
<body>
    <div class="navbar">
        <p>VoteWarp</p>
        <div class="nav_link">
            <a href="/user_page/{{ grouppassword[4:] }}">home</a>
        </div>
    </div>
    <div class="content">
        <p class="room_text">room.</p>
        <div class="room_name"><p>{{ roomname[0] }}</p></div>
        <p class="code_text">code</p>
        <div class="code_name"><p>{{ grouppassword[:4] }}</p></div>
    </div>
    <div class="voting_container" id="voting">
        <!-- {% for i in list_vote%}
            <div class="votingbox">
                <div class="place">
                    <p>place:</p>
                    <div class="line2"><p>{{ i[0] }}</p></div>
                </div>
                <div class="whitebox">
                    <div class="date">
                        <p>date:</p>
                        <div class="line2"><p>{{ i[1] }}.</p></div>
                    </div>
                    <div class="timey">
                        <p>time:</p>
                        <div class="line2"><p>{{ i[1] }}.</p></div>
                    </div>
                    <div class="descriptionn">
                        <p>description:</p>
                        <p>{{ i [2] }}</p>
                    </div>
                    <div class="votingtext">
                        <p>voting</p>
                        <div class="user_votingbox">
                            {% for j in i[3] %}
                                    <img class="user_voting" src="/votepro/{{j}}" alt="../static/img/anonymous2"></img>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %} -->
            <div class="votingbox">
                {% if max_vote[0][4] %}
                <div style="border: 1px solid black;
                    width: 350px;
                    height: 300px;
                    border-radius: 20px;
                    margin-top: 30px;
                    background: url('/download_vote/{{  max_vote[0][4] }}') no-repeat;
                    background-size: cover;
                    background-position: center top;
                    box-shadow: 0 0 15px rgba(0, 0, 0, 0.29);">
                </div>
                {% else %}
                <div class="picture">
                </div>
                {% endif %}
                <div class="place">
                    <p>place:</p>
                    <div class="line2"><p>{{ max_vote[0][0] }}</p></div>
                </div>
                <div class="whitebox">
                    <div class="date">
                        <p>date:</p>
                        <div class="line2"><p>{{ roomname[1] }}</p></div>
                    </div>
                    <div class="timey">
                        <p>time:</p>
                        <div class="line2"><p>{{ max_vote[0][1] }}</p></div>
                    </div>
                    <div class="descriptionn">
                        <p>description:</p>
                        <p>{{ max_vote[0][2] }}</p>
                    </div>
                    <div class="votingtext">
                        <p>voting</p>
                        <div class="user_votingbox">
                            {% for j in max_vote[0][3] %}
                                    <img class="user_voting" src="/votepro/{{j}}" alt="../static/img/anonymous2"></img>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <script src="../static/javascript/room.js"></script>
</body>
</html>
