<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create your Group</title>
    <link rel="stylesheet" href="../static/css/style_creategroup.css">
</head>
<body>
    <div class="page_creategroup">
        <h1>Create Your Group</h1>
    </div><br>
    <div class="headword">
        <h3>Group name</h3>
        <input  type="text" 
                id="groupname" 
                name="groupname"><br><br>
        <h3>people limit</h3>
        <input  type="number" 
                id="peoplelimit" 
                name="peoplelimit"><br><br>
        <h3>group password</h3>
        <input  type="password" 
                id="grouppassword" 
                name="grouppassword"><br><br>
    </div><br><br><br><br>
    <input type="submit" name="submit">
</body>
</html>