<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
</head>
</head>
<body>
    <form method="POST">
        <div class="backdrop">
            <h1>Reset Password</h1>
            <p>
                Click On the link to go to reset password page!!
            </p>
            <a href="http://127.0.0.1:5000/reset_password"><button type="submit" class="reset">Reset Password</button></a>
        </div>
    </form>
</body>
</html>
