<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="../static/css/style_forgot_password.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Jua">
</head>
{% with messages = get_flashed_messages(with_categories=true) %}
    {% for category, message in messages %}
        {% if category %}
            <div class="alert">
                <span class="closebtn" onclick="closeAlert()">&times;</span>
                {{ message }}
            </div>
            <script src="../static/javascript/resgister.js"></script>
        {% else %}
            <div class="alerts">
                <span class="closebtns" onclick="closeAlerts()">&times;</span>
                {{ message }}
            </div>
            <script src="../static/javascript/resgister.js"></script>
        {% endif %}
    {% endfor %}
{% endwith %}
</head>
<body>
    <form method="POST">
        <div class="backdrop">
            <h1>Reset Password</h1>
            <p>
                Enter your e-mail address and we will send you futher instructions on how to reset the password
            </p>
            <h2>
                E-mail address
            </h2>
            <input type="email" name="email" placeholder="Enter your e-mail">
            <a href="/forgot_password_2"><button type="submit" class="reset">Next</button></a>
        </div>
    </form>
</body>
</html>
