<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="../static/css/style_forgot_password.css">
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Jua">
</head>
</head>
<body>
    <div class="backdrop">
        <h1>Reset Password</h1>
        <p>
            Enter your e-mail address and we will send you futher instructions on how to reset the password
        </p>
        <h2>
            E-mail address
        </h2>
        <input type="email" placeholder="Enter your e-mail" required>
        <button type="submit" class="reset">Next</button>
    </div>
</body>
</html>