<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>ไม่ต้องตกใจอันนี้กูยังไม่ทำ</h1>
    {% if user.is_authenticated %}
    <div class="register-link">
        <p>
            Login <a href="/login">Login</a>
        </p>
    </div>
    <div class="register-link">
        <p>
            logout <a href="/logout">logout</a>
        </p>
    </div>
    {% else %}
    <div class="register-link">
        <p>
            register <a href="/register">register</a>
        </p>
    </div>
    {% endif %}
</body>
</html>