<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style_index.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter">
    <title>VothWarp</title>
</head>
    <form method="POST">
        <div class="text">
            <img src="../static/img/Time_To_Warp_login.png" alt="text">
        </div>
        <div class="picture">
            <img src="../static/img/object1_login.png" alt="earth">
        </div>
        <div class="page_login">
            <h1>Login</h1>
            <div class="box">
                <input type="email" placeholder="Enter Your Email" name="email">
                <i class='bx bxs-user'></i>
            </div>
            <div class="box">
                <input type="password" placeholder="Enter Your password" name="password" >
                <p class='bx bxs-lock-alt' ></p>
            </div>

            <div class="remember">
                <label><input type="checkbox"> Remember me </label>
                <a href="/forgot_password"> Forgot password</a>
            </div>
            <br />
            <button type="submit" class="Login">Login</button>

            <div class="register-link">
                <p>
                    Don't have an account <a href="/register">Register</a>
                </p>
            </div>
        </div>
    </form>
</body>
</html>
