<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="../static/css/style_page_user.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Jua">
</head>
<body>
    <div class="profile">
        <div class="picture">
        </div>
    </div>
    <div class="name_user">
        Chatchawan Tongsirikun
    </div>
    <div class="searchbar">
        <div class="searchbox">
            <span></span>
            <input type="text" placeholder="search your group" src="">
        </div>
    </div>
    <div class="box">
        <div class="wrapper" id="wrapper">
            <!-- function addroom() จะ add room_box ตรงนี้ -->
            <div class="createroom" id="createroom">
                <button onclick="addroom()"><img src="../static/img/createroom_button.png" alt=""></button>
                <div>Create Room</div>
            </div>
        </div>
    </div>
    <script src="../static/javascript/page_user.js"></script>
    <script src="https://kit.fontawesome.com/152f96ad61.js" crossorigin="anonymous"></script>
</body>
</html>