<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Jua">
    <link rel="stylesheet" href="../static/css/style_forgot_password.css">
</head>
<body>
    <form method="POST">
        <div id="new_password">
            <div class="create">
                <h1>Create New Password</h1>
                <p>Your new password must be different from previous used passwords.</p>
            </div>
            <div class="text_pass">
                <h2>Password</h2>
                <input type="password" name="password" placeholder="Enter your new password">
                <p>Must be at least 8 characters.</p>
            </div>
            <div class="text_confirm">
                <h2>Confirm Password</h2>
                <input type="password" name="password2" placeholder="Confirm your password">
                <p>Both passwords must match.</p>
            </div>
            <button type="submit" class="resets">Reset Password</button>
        </div>
    </form>
</body>
</html>
