<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style_room.css">
    <title>Room</title>
</head>
<body>
    <div class="navbar">
        <p>VoteWarp</p>
        <div class="nav_link">
            <a href="login.html">logout</a>
        </div>
    </div>
    <div class="content">
        <p class="room_text">room.</p>
        <div class="room_name"><p>{{ roomname }}</p></div>
        <img src="../static/img/chat.png" class="chat_img" onclick="openchat()">
        <img src="../static/img/createbutton.png" class="create_button" onclick="openvote()">
    </div>
    <div class="voting_container" id="voting">
        <div class="votingbox">
            <div class="picture">
            </div>
            <div class="place">
                <p>place:</p>
                <div class="line2"><p>ร้านเหล้าแถวนี้</p></div>
            </div>
            <div class="whitebox">
                <div class="date">
                    <p>date:</p>
                    <div class="line2"><p>07/10/2023</p></div>
                </div>
                <div class="timey">
                    <p>time:</p>
                    <div class="line2"><p>22.00 น.</p></div>
                </div>
                <div class="votingtext">
                    <p>voting</p>
                    <div class="user_votingbox">
                        <div class="user_voting">
                        </div>
                        <div class="user_voting">
                        </div>
                        <div class="user_voting">
                        </div>
                    </div>
                </div>
                <div class="confirm checked" id="checked" onclick="check()"> 
                </div>
            </div>
        </div>
        <div class="votingbox">
            <div class="picture">
            </div>
            <div class="place">
                <p>place:</p>
                <div class="line2"><p>ร้านเหล้าแถวนี้</p></div>
            </div>
            <div class="whitebox">
                <div class="date">
                    <p>date:</p>
                    <div class="line2"><p>07/10/2023</p></div>
                </div>
                <div class="timey">
                    <p>time:</p>
                    <div class="line2"><p>22.00 น.</p></div>
                </div>
                <div class="votingtext">
                    <p>voting</p>
                    <div class="user_votingbox">
                        <div class="user_voting">
                        </div>
                        <div class="user_voting">
                        </div>
                        <div class="user_voting">
                        </div>
                    </div>
                </div>
                <div class="confirm" onclick="check()">    
                </div>
            </div>
        </div>
        <div class="votingbox">
            <div class="picture">
            </div>
            <div class="place">
                <p>place:</p>
                <div class="line2"><p>ร้านเหล้าแถวนี้</p></div>
            </div>
            <div class="whitebox">
                <div class="date">
                    <p>date:</p>
                    <div class="line2"><p>07/10/2023</p></div>
                </div>
                <div class="timey">
                    <p>time:</p>
                    <div class="line2"><p>22.00 น.</p></div>
                </div>
                <div class="votingtext">
                    <p>voting</p>
                    <div class="user_votingbox">
                        <div class="user_voting">
                        </div>
                        <div class="user_voting">
                        </div>
                        <div class="user_voting">
                        </div>
                    </div>
                </div>
                <div class="confirm" onclick="check()">    
                </div>
            </div>
        </div>
        <div class="votingbox">
            <div class="picture">
            </div>
            <div class="place">
                <p>place:</p>
                <div class="line2"><p>ร้านเหล้าแถวนี้</p></div>
            </div>
            <div class="whitebox">
                <div class="date">
                    <p>date:</p>
                    <div class="line2"><p>07/10/2023</p></div>
                </div>
                <div class="timey">
                    <p>time:</p>
                    <div class="line2"><p>22.00 น.</p></div>
                </div>
                <div class="votingtext">
                    <p>voting</p>
                    <div class="user_votingbox">
                        <div class="user_voting">
                        </div>
                        <div class="user_voting">
                        </div>
                        <div class="user_voting">
                        </div>
                    </div>
                </div>
                <div class="confirm">    
                </div>
            </div>
        </div>
    </div>
    <div class="chatroom">
        <div class="container">
            <img src="../static/img/close_button.png" alt="" class="close" onclick="closechat()">
            <div class="chat_box">
                <div class="person">
                    <div class="profile"></div>
                    <div class="chattext">
                        <h1>คนหล่อ</h1>
                        <div class="messagebox">
                            <p>สะสวดีคระบลบบบบ</p>
                        </div>
                    </div>
                </div>
                <div class="person">
                    <div class="profile"></div>
                    <div class="chattext">
                        <h1>คนหล่อ</h1>
                        <div class="messagebox">
                            <p>สะสวดีคระบลบบบบ</p>
                        </div>
                    </div>
                </div>
                <div class="person">
                    <div class="profile"></div>
                    <div class="chattext">
                        <h1>คนหล่อ</h1>
                        <div class="messagebox">
                            <p>สะสวดีคระบลบบบบ</p>
                        </div>
                    </div>
                </div>
                <div class="person">
                    <div class="profile"></div>
                    <div class="chattext">
                        <h1>คนหล่อ</h1>
                        <div class="messagebox">
                            <p>สะสวดีคระบลบบบบ</p>
                        </div>
                    </div>
                </div>
                <div class="person">
                    <div class="profile"></div>
                    <div class="chattext">
                        <h1>คนหล่อ</h1>
                        <div class="messagebox">
                            <p>สวัสดีครับบบบบบบบบบบบบบบบบบบบบบบบบบบบบบบบบบบบบบบบบบบบ</p>
                        </div>
                    </div>
                </div>
                <div class="person">
                    <div class="profile"></div>
                    <div class="chattext">
                        <h1>คนหล่อ</h1>
                        <div class="messagebox">
                            <p>สะสวดีคระบลบบบบ</p>
                        </div>
                    </div>
                </div>
                <div class="person">
                    <div class="profile"></div>
                    <div class="chattext">
                        <h1>คนหล่อ</h1>
                        <div class="messagebox">
                            <p>สะสวดีคระบลบบบบ</p>
                        </div>
                    </div>
                </div>
            </div>
            <form class="writing_panel">
                <input type="text" placeholder="write something" required class="write">
                <input type="submit" class="submit_button">
            </form>
        </div>
    </div>
    <div class="create_vote">
        <img src="../static/img/close_button.png" alt="" class="close" onclick="closevote()">
        <div class="name_place">
            <img src="../static/img/anonymous2.png" alt="รูปใส่ในโพสไปเที่ยวซัมติงเวรี่เวล" width="550px" height="450px">
            <br>
            <br>
            <div class="placebox">
                <label>place :</label>
                <input type="text">
            </div>
        </div>
        <div class="box_des">
            <div class="vote_date">
                <label>date :</label>
                <input type="text">
            </div>
            <div class="time">
                <label>time :</label>
                <br>
                <input type="text">
            </div>
            <div class="link_smth">
                <label>link (optional)</label>
                <br>
                <input type="text">
            </div>
            <div class="descrip">
                <label>description :</label>
                <br>
                <textarea cols="30" rows="30" maxlength="231"></textarea>
            </div>
        </div>
        <input type="submit" name="submit" class="create_submit" onclick="createvote()">
    </div>
    <script src="../static/javascript/room.js"></script>
</body>
</html>
