<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style_room.css">
    <title>Room</title>
</head>
<body>
    <div class="content">
        <p class="room_text">room.</p>
        <div class="room_name"><p>แมนซ่า007</p></div>
        <img src="../static/img/chat.png" class="chat_img">
        <img src="../static/img/createbutton.png" class="create_button">
    </div>
    <div class="voting_container">
        <div class="votingbox">
            <div class="picture">
            </div>
            <div class="place">
                <p>place:</p>
                <div class="line2"><p>ร้านเหล้าแถวนี้</p></div>
            </div>
            <div class="whitebox">
                <div class="date">
                    <p>date:</p>
                    <div class="line2"><p>07/10/2023</p></div>
                </div>
                <div class="timey">
                    <p>time:</p>
                    <div class="line2"><p>22.00 น.</p></div>
                </div>
                <div class="votingtext">
                    <p>voting</p>
                    <div class="user_votingbox">
                        <div class="user_voting">
                        </div>
                        <div class="user_voting">
                        </div>
                        <div class="user_voting">
                        </div>
                    </div>
                </div>
                <div class="confirm">    
                </div>
            </div>
        </div>
        <div class="votingbox">
            <div class="picture">
            </div>
            <div class="place">
                <p>place:</p>
                <div class="line2"><p>ร้านเหล้าแถวนี้</p></div>
            </div>
            <div class="whitebox">
                <div class="date">
                    <p>date:</p>
                    <div class="line2"><p>07/10/2023</p></div>
                </div>
                <div class="timey">
                    <p>time:</p>
                    <div class="line2"><p>22.00 น.</p></div>
                </div>
                <div class="votingtext">
                    <p>voting</p>
                    <div class="user_votingbox">
                        <div class="user_voting">
                        </div>
                        <div class="user_voting">
                        </div>
                        <div class="user_voting">
                        </div>
                    </div>
                </div>
                <div class="confirm">    
                </div>
            </div>
        </div>
        <div class="votingbox">
            <div class="picture">
            </div>
            <div class="place">
                <p>place:</p>
                <div class="line2"><p>ร้านเหล้าแถวนี้</p></div>
            </div>
            <div class="whitebox">
                <div class="date">
                    <p>date:</p>
                    <div class="line2"><p>07/10/2023</p></div>
                </div>
                <div class="timey">
                    <p>time:</p>
                    <div class="line2"><p>22.00 น.</p></div>
                </div>
                <div class="votingtext">
                    <p>voting</p>
                    <div class="user_votingbox">
                        <div class="user_voting">
                        </div>
                        <div class="user_voting">
                        </div>
                        <div class="user_voting">
                        </div>
                    </div>
                </div>
                <div class="confirm">    
                </div>
            </div>
        </div>
        <div class="votingbox">
            <div class="picture">
            </div>
            <div class="place">
                <p>place:</p>
                <div class="line2"><p>ร้านเหล้าแถวนี้</p></div>
            </div>
            <div class="whitebox">
                <div class="date">
                    <p>date:</p>
                    <div class="line2"><p>07/10/2023</p></div>
                </div>
                <div class="timey">
                    <p>time:</p>
                    <div class="line2"><p>22.00 น.</p></div>
                </div>
                <div class="votingtext">
                    <p>voting</p>
                    <div class="user_votingbox">
                        <div class="user_voting">
                        </div>
                        <div class="user_voting">
                        </div>
                        <div class="user_voting">
                        </div>
                    </div>
                </div>
                <div class="confirm" onclick="checked()" id="checkbtn">    
                </div>
            </div>
        </div>
    </div>
</body>
</html>