<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style_room.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sriracha">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playpen Sans">
    <title>Room</title>
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
      <div class="alert">
          <span class="closebtn" onclick="closeAlert()">&times;</span>
          {{ message }}
      </div>
      <script src="../static/javascript/resgister.js"></script>
      {% endfor %}
    {% endif %}
{% endwith %}
</head>
<body>
    <div class="navbar">
        <p>VoteWarp</p>
        <div class="nav_link">
            <a href="/logout">logout</a>
        </div>
    </div>
    <div class="content">
        <p class="room_text">room.</p>
        <div class="room_name"><p>{{ roomname }}</p></div>
        <p class="code_text">code.</p>
        <div class="code_name"><p>{{ grouppassword[:4] }}</p></div>
        <img src="../static/img/createbutton.png" class="create_button" onclick="openvote()">
    </div>
    <a href='/complete/{{ grouppassword }}' class="finished">
    </a>
    <div class="voting_container" id="voting">
        {% for i in list_vote%}
            <div class="votingbox">
                {% if i[4] %}
                <div style="border: 1px solid black;
                    width: 350px;
                    height: 300px;
                    border-radius: 20px;
                    margin-top: 30px;
                    background: url('/download_vote/{{ i[4] }}') no-repeat;
                    background-size: cover;
                    background-position: center top;
                    box-shadow: 0 0 15px rgba(0, 0, 0, 0.29);">
                </div>
                {% else %}
                <div class="picture">
                </div>
                {% endif %}
                <div class="place">
                    <p>place:</p>
                    <div class="line2"><p>{{ i[0] }}</p></div>
                </div>
                <div class="whitebox">
                    <div class="timey">
                        <p>time:</p>
                        <div class="line2"><p>{{ i[1] }}.</p></div>
                    </div>
                    <div class="descriptionn">
                        <p>description:</p>
                        <p>{{ i [2] }}</p>
                    </div>
                    <div class="votingtext">
                        <p>voting</p>
                        <div class="user_votingbox">
                            {% for j in i[3] %}
                                    <img class="user_voting" src="/votepro/{{j}}" alt="../static/img/anonymous2"></img>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="yohohoho">
                        <form action="/test/{{ grouppassword }},{{ i[0] }},{{ i[1]}}" class="confirm">
                            <button  class="confirm" id="checked" type="submit"></button>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
    </div>
    <!-- <div class="chatroom">
        <div class="container">
            <img src="../static/img/close_button.png" alt="" class="close" onclick="closechat()">
            <div class="chat_box">
                <div class="person">
                    <div class="profile"></div>
                    <div class="chattext">
                        <h1>คนหล่อ</h1>
                        <div class="messagebox">
                            <p>สะสวดีคระบลบบบบ</p>
                        </div>
                    </div>
                </div>
                <div class="person">
                    <div class="profile"></div>
                    <div class="chattext">
                        <h1>คนหล่อ</h1>
                        <div class="messagebox">
                            <p>สะสวดีคระบลบบบบ</p>
                        </div>
                    </div>
                </div>
                <div class="person">
                    <div class="profile"></div>
                    <div class="chattext">
                        <h1>คนหล่อ</h1>
                        <div class="messagebox">
                            <p>สะสวดีคระบลบบบบ</p>
                        </div>
                    </div>
                </div>
                <div class="person">
                    <div class="profile"></div>
                    <div class="chattext">
                        <h1>คนหล่อ</h1>
                        <div class="messagebox">
                            <p>สะสวดีคระบลบบบบ</p>
                        </div>
                    </div>
                </div>
                <div class="person">
                    <div class="profile"></div>
                    <div class="chattext">
                        <h1>คนหล่อ</h1>
                        <div class="messagebox">
                            <p>สวัสดีครับบบบบบบบบบบบบบบบบบบบบบบบบบบบบบบบบบบบบบบบบบบบ</p>
                        </div>
                    </div>
                </div>
                <div class="person">
                    <div class="profile"></div>
                    <div class="chattext">
                        <h1>คนหล่อ</h1>
                        <div class="messagebox">
                            <p>สะสวดีคระบลบบบบ</p>
                        </div>
                    </div>
                </div>
                <div class="person">
                    <div class="profile"></div>
                    <div class="chattext">
                        <h1>คนหล่อ</h1>
                        <div class="messagebox">
                            <p>สะสวดีคระบลบบบบ</p>
                        </div>
                    </div>
                </div>
            </div>
            <form class="writing_panel">
                <input type="text" placeholder="write something" required class="write">
                <input type="submit" class="submit_button">
            </form>
        </div>
    </div> -->
<form method="POST" class="create_vote" enctype="multipart/form-data">
        <form  methods="POST">
        <img src="../static/img/close_button.png" alt="" class="close" onclick="closevote()">
        <div class="name_place">
            <img src="../static/img/anonymous2.png" alt="profile" width="100px" height="100px" id="picture_room"><br>
            <label for="input-file" class="upload_label">Select Picture</label><br>
            <input type="file" accept="image/jpeg, image/png, image/jpg" id="input-file" name="votepic" >
            <br>
            <br>
            <div class="placebox">
                <label>Place :</label>
                <input type="text" name="place">
            </div>
        </div>
        <div class="box_des">
            <div class="time">
                <label>Time :</label>
                <br>
                <input type="text" name="time">
            </div>
            <div class="descrip">
                <label>Description :</label>
                <br>
                <textarea cols="30" rows="30" maxlength="231" name="descrip"></textarea>
            </div>
        </div>
        <input type="submit" name="submit" class="create_submit">
</form>
    <script src="../static/javascript/room.js"></script>
</body>
</html>
