<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style_description.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sriracha">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playpen Sans">
</head>
<body>
    <div>
        <div class="name_place">
            <img src="../static/img/anonymous2.png" alt="รูปใส่ในโพสไปเที่ยวซัมติงเวรี่เวล" width="550px" height="450px">
            <br>
            <label>place :</label>
            <input type="text">
        </div>
        <div class="box_des">
            <div class="date">
                <label>date :</label>
                <br>
                <input type="text">
            </div>
            <div class="time">
                <label>time :</label>
                <br>
                <input type="text">
            </div>
            <div class="link_smth">
                <label>link (optional)</label>
                <br>
                <input type="text">
            </div>
            <div class="descrip">
                <label>description :</label>
                <br>
                <textarea cols="30" rows="30" maxlength="231"></textarea>
        </div>
    </div>
</body>
</html>