<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="../static/css/style_welcome.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Jua">
</head>
<body>
    <div class="container">
        <div class="cloudgroup">
            <img src="../static/img/cloud1.png" style="--i:1;">
            <img src="../static/img/cloud2.png" style="--i:2;">
            <img src="../static/img/cloud3.png" style="--i:3;">
            <img src="../static/img/cloud4.png" style="--i:4;">
            <img src="../static/img/cloud5.png" style="--i:5;">
            <img src="../static/img/cloud6.png" style="--i:6;">
            <img src="../static/img/clound7.png" style="--i:7;">
        </div>
        <img src="../static/img/world 2.png" class="world">
        <div class="welcome_text">
            <span style="--i:1">Welcome</span>
            <span style="--i:2">to</span>
            <span style="--i:3">VoteWarp</span>
        </div>
        <!-- <div class="linklog">
            <button class="login">login</button>
            <button class="register">register</button>
        </div> -->
        <div class="log_re_button">
            <button class="login_button" onclick="cloud_transition_login()">
                <div></div>
            </button>
            <button class="register_button" onclick="cloud_transition_register()">
                <div></div>
            </button>
        </div>
        <div class="cloudimation" id="cloudimation">
            <img src="../static/img/cloud1.png" class="cloud1">
            <img src="../static/img/cloud2.png" class="cloud2">
            <img src="../static/img/cloud3.png" class="cloud3">
            <img src="../static/img/cloud4.png" class="cloud4">
            <img src="../static/img/cloud5.png" class="cloud5">
            <img src="../static/img/cloud1.png" class="cloud6">
            <img src="../static/img/cloud2.png" class="cloud7">
            <img src="../static/img/cloud3.png" class="cloud8">
            <img src="../static/img/cloud4.png" class="cloud9">
            <img src="../static/img/cloud5.png" class="cloud10">
            <!-- <img src="../static/img/cloud6.png" class="cloud6"> -->
            <!-- <img src="../static/img/clound7.png" class="cloud7"> -->
        </div>
    </div>
    <script src="../static/javascript/welcome.js"></script>
</body>
</html>